[include gab-3d-utilities.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include BED_MESH_CALIBRATE.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -30
y_offset: -41
z_offset: 0.900
pin_move_time: 0.4
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
stow_on_each_sample: False
#probe_with_touch_mode: true
#speed:

[safe_z_home]
home_xy_position: 200,200 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
endstop_pin: ^!PC0
position_endstop: 0
position_max: 400
position_min: 0
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 40
endstop_pin: ^!PC1
position_endstop: 0
position_max: 400
position_min: 0
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 500
position_min: -6

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 64
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC6

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC7

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_0900340002504B5735313920-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_z_velocity: 5
max_z_accel: 100

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 10,10       #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 360,350  #needs to be calibrated for your individual printer
probe_count: 5,5 #this is the number of probing points on X then Y axis
mesh_pps: 2,2
fade_start: 1
fade_end: 10
fade_target: 0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.413750, 0.341875, 0.207500, -0.037500, -0.254375
#*# 	  0.194375, 0.070000, -0.041250, -0.261250, -0.476250
#*# 	  0.288125, 0.151875, 0.053750, -0.143750, -0.320000
#*# 	  0.235625, 0.128125, 0.049375, -0.130625, -0.291250
#*# 	  0.434375, 0.314375, 0.193750, 0.011250, -0.121250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0
[temperature_sensor SKR_Pro]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[temperature_sensor raspberry_pi_3B+]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh $0"
timeout: 90.0
verbose: True

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.275625, 0.249375, 0.230000, 0.068750, -0.048125
#*# 	  0.001250, -0.031875, -0.037500, -0.188125, -0.272500
#*# 	  0.096250, 0.038125, 0.043750, -0.061875, -0.115625
#*# 	  0.033125, 0.023750, 0.052500, -0.037500, -0.072500
#*# 	  0.252500, 0.215000, 0.211875, 0.124375, 0.121875
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.950

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.800

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.300

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.975

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.950

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.164375, 0.195000, 0.225625, 0.098750, 0.048125
#*# 	  -0.111875, -0.083125, -0.043750, -0.135625, -0.169375
#*# 	  -0.006875, -0.017500, 0.053750, 0.003125, -0.004375
#*# 	  -0.073125, -0.028125, 0.065625, 0.015625, 0.029375
#*# 	  0.145625, 0.165625, 0.208750, 0.180625, 0.229375
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0

[idle_timeout]
timeout: 600
gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
  
        TURN_OFF_HEATERS
         SHUTDOWN

#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.480000, -0.726875, -0.624375, -0.574375, -0.339375
#*# 	  -0.450000, -0.705625, -0.596250, -0.546875, -0.279375
#*# 	  -0.458125, -0.699375, -0.565625, -0.500625, -0.263125
#*# 	  -0.487500, -0.739375, -0.630000, -0.594375, -0.353125
#*# 	  -0.418125, -0.688750, -0.613125, -0.635000, -0.410625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.850

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.138125, -0.113750, -0.040625, -0.024375, 0.283125
#*# 	  0.185000, -0.085625, 0.028125, 0.055000, 0.343125
#*# 	  0.176875, -0.071250, 0.057500, 0.087500, 0.363125
#*# 	  0.141875, -0.111250, -0.014375, -0.000000, 0.266250
#*# 	  0.219375, -0.044375, 0.020625, -0.035625, 0.201875
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.036250, -0.331875, -0.288125, -0.313750, -0.086250
#*# 	  0.006875, -0.319375, -0.238750, -0.258125, 0.003125
#*# 	  -0.009375, -0.288750, -0.200000, -0.210625, 0.025000
#*# 	  -0.027500, -0.339375, -0.260625, -0.283750, -0.053125
#*# 	  0.055625, -0.259375, -0.221250, -0.311875, -0.099375
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.129375, -0.180000, -0.123750, -0.138750, 0.097500
#*# 	  0.220000, -0.113750, -0.046250, -0.055000, 0.195000
#*# 	  0.233125, -0.066250, 0.026250, 0.039375, 0.263750
#*# 	  0.220000, -0.088125, -0.012500, -0.016250, 0.213125
#*# 	  0.303750, -0.019375, 0.031250, -0.034375, 0.175625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0
#*#
#*# [bed_mesh 1]
#*# version = 1
#*# points =
#*# 	  0.129375, -0.180000, -0.123750, -0.138750, 0.097500
#*# 	  0.220000, -0.113750, -0.046250, -0.055000, 0.195000
#*# 	  0.233125, -0.066250, 0.026250, 0.039375, 0.263750
#*# 	  0.220000, -0.088125, -0.012500, -0.016250, 0.213125
#*# 	  0.303750, -0.019375, 0.031250, -0.034375, 0.175625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 360.0
#*# min_y = 10.0
#*# max_y = 350.0
